<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="liger"></ion-back-button>
    </ion-buttons>
    <ion-title color="liger">Liger | Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 61%;">
    <ion-img [src]="imgPath"></ion-img>
  </div>
  <ion-card color="dark">
    <ion-card-content>
      <ion-input position="floating" placeholder="Email" [(ngModel)]="email"></ion-input>
      <ion-input type="password" position="floating" placeholder="Password" [(ngModel)]="password"></ion-input>
      <ion-button shape="round" color="liger"  expand="block" (click)="LogIn()"><ion-icon name="log-in-outline"></ion-icon> log In </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
